<article>
    <section id="content" class="body">
        <div class="entry-content">
            <footer class="post-info">
                <abbr class="published">
                    Published: $date$
                </abbr>
                $if(authors)$
                <address class="vcard author">
                    by $authors$
                </address>
                $endif$
                $if(tags)$
                <div class="info">
                Tags: $tags$
                $endif$
            </footer>
        </div>
        $body$
    </section>
</article>
